{% extends "base.html" %}
{% block content %}

    <h2 class="center-align white-text">The Alton Towers Foodie</h2>
    <h3 class="center-align white-text">Reviews</h3>
    <h6 class="center-align white-text">Review and discover your favorite places to eat at The Alton Towers Theme Park!</h6>

    <div class="row">
      {% for review in reviews %}
   
      <div class="col s12 m4">
          <div class="card">
              <div class="card-image">
            <img name="{{ review.restaurant_name }}" alt="{{ review.restaurant_name }}"
              src="static/images/{{ review.restaurant_name }}.jpg">
          </div>
          <div class="card-content">
            <strong>{{ review.restaurant_name }}</strong><br>
            {{ review.score }}/5<br>
            {{ review.review_text }}<br>
            <strong>by: </strong>{{ review.posted_by }}<br>
            {% if session.user|lower == review.posted_by|lower %}
              <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light btn-small indigo darken-4">Edit</a>
              <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect waves-light btn-small indigo darken-4">Delete</a>
            {% endif %}
        </div>
      </div>
    </div>
      {% endfor %}
    
  </div>

{% endblock %}