{% extends "base.html" %}
{% block content %}

    <h2>Edit Review</h2>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <select id="restaurant_name" name="restaurant_name" class="validate" required>
                      <option value="" disabled>Pick your restaurant</option>
                        {% for restaurant in restaurants %}
                            {% if restaurant.restaurant_name == review.restaurant_name %}
                                <option value="{{ restaurant.restaurant_name }}" selected>{{ restaurant.restaurant_name }}</option>
                            {% else %}
                                <option value="{{ restaurant.restaurant_name }}">{{ restaurant.restaurant_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="restaurant_name">Restaurant Name</label>
                  </div>
            </div>
        </div>
            <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix"></i>
              <input id="score" type="text" class="validate" name="score" value="{{ review.score }}" required>
              <label for="score">Score</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix"></i>
                <textarea id="review_text" type="text" name="review_text" minlength="5"
                maxlength="350" class="materialize-textarea validate" required>{{ review.review_text }}</textarea>
                <label for="review_text">Review</label>
            </div>
        </div>
        <div class="row">
            <a class="btn waves-effect waves-light" type="submit">Done
                <i class="material-icons right"></i>
            </a>
            <a class="btn waves-effect waves-light" href="{{ url_for('all_reviews') }}" type="submit">Cancel
                <i class="material-icons right"></i>
        </a>
        </div>
    </form>
    </div>

{% endblock %}