{% extends "base.html" %}
{% block content %}

<h2 class="center-align white-text">Register</h2>
<p class="center-align white-text">To write your first review!</p>
<div class="row">
  <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
    <div class="card-panel white">

      <!-- username -->
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Username" id="username" type="text" class="validate" name="username" minlength="5" maxlength="25" pattern="^[a-zA-Z0-9]{5,25}$" required />
          <label for="username">Username</label>
        </div>
      </div>

      <!-- email -->
      <div class="row">
        <div class="input-field col s12">
          <!--  Regular expression to validate email input found at https://regexlib.com/Search.aspx?k=email -->
          <input id="email" type="email" class="validate" name="email" minlength="5" maxlength="25"
            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required />
          <label for="email">Email</label>
        </div>
      </div>

      <!-- password -->
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" minlength="5" maxlength="25" pattern="^[a-zA-Z0-9]{5,25}$" required />
          <label for="password">Password</label>
        </div>
      </div>
      
      <!-- register button -->
      <button class="btn waves-effect waves-light deep-orange darken-4" type="submit" name="action">
        Register
        <i class="material-icons right"></i>
      </button>
    </div>
  </form>
</div>
{% endblock %}